/target
*.o
*.ll
*_bin
out.llms
/.gemini/
benchmarks/**/*_sum
benchmarks/**/*_llm
benchmarks/**/vector_add
benchmarks/**/fib
benchmarks/**/split
benchmarks/**/heavy_compute
benchmarks/**/*.llmi
*.so
a.out
